# Список зависимостей для проекта "Игра в загадки"
# Содержит все необходимые пакеты для запуска и тестирования приложения

fastapi==0.115.0              # Веб-фреймворк для создания API
uvicorn==0.30.6               # ASGI-сервер для запуска FastAPI-приложений
bidict==0.23.1                # Библиотека для работы с двунаправленными словарями
certifi==2024.6.2             # Пакет с сертификатами SSL
charset-normalizer==3.3.2     # Библиотека для определения кодировки текста
dnspython==2.6.1              # Библиотека для работы с DNS
greenlet==3.0.3               # Библиотека для работы с легковесными корутинами
h11==0.14.0                   # Библиотека для работы с HTTP/1.1 протоколом
idna==3.7                     # Библиотека для преобразования доменных имен
iniconfig==2.0.0              # Библиотека для работы с .ini файлами
loguru==0.7.2                 # Библиотека для логирования
packaging==24.1               # Библиотека для работы с версиями пакетов
pluggy==1.5.0                 # Плагин для расширения функциональности
pytest==8.2.2                 # Фреймворк для тестирования
python-engineio==4.9.1        # Библиотека для работы с Engine.IO
python-socketio==5.1.3       # Библиотека для работы с Socket.IO
requests==2.32.3              # Библиотека для выполнения HTTP-запросов
simple-websocket==1.0.0       # Простая библиотека для работы с веб-сокетами
urllib3==2.2.2                # Библиотека для работы с HTTP
websocket-client==1.8.0       # Клиент для работы с веб-сокетами
wsproto==1.2.0                # Библиотека для работы с WebSocket протоколом
